.error-page {
    height: 20rem;
    margin-top: 5rem;
}

.error-page p, .error-page h1 {
    text-align: left;
}

.left-pane {
    background: linear-gradient(to left, red, white);
    width: 20rem;
}

.right-pane {
    background: linear-gradient(to right, red, white);
    width: 20rem;
}

.pane-text {
    font-weight: bolder;
    font-size: larger;
    color: red;
}

.goto-btn {
    background-color: #1b3271;
    color: #fff;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    border-radius: 30px;
    text-decoration: none;

}

.goto-btn:hover {
    background-color: #385ab8;
    color: #fff;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    border-radius: 30px;
    text-decoration: none;
}

.goto-btn-icon {
    font-size: larger;
}