/* Footer styles */
.footer {
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
}

.footer-top {
    position: relative;
    width: 100%;
    height: 200px;
    /* Adjust height as needed */
    background: url('../assets/wave.svg') no-repeat center center;
    background-size: cover;
}

.footer-overlay {
    margin-top: 2rem;
}

.footer-overlay h2,
.footer-overlay p {
    margin: 0;
    padding: 0 20px;
}

.footer-content {
    background-color: #1b3271;

}

.logo-section-text {
    padding-top: 0.9rem;
    line-height: 1.5rem;
}

.social-link {
    border-radius: 2em;
    padding: 0.9em 1.2em;
    background-color: #314272;
    color: white;
    margin: 0 0.3rem;
}

.icon {
    color: inherit;
}

.social-link:hover {
    background-color: #ffffff;
    color: #1b3271;

    /* Target the icon within the hover state */
    .icon {
        color: #1b3271;
        /* Change icon color on hover */
    }
}

.subscribe {
    height: 10rem;
}

.subscribe-text {
    text-align: left;
}

.input-box {
    background-color: inherit;
}

.contents {
    text-align: left;
}

.content-list {
    display: flex;
    flex-direction: column;
}

.content-list Link {
    text-decoration: none;
    color: white;
}


.content-item:hover {
    text-decoration: none;
    color: white;
}


.content-item {
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */
    text-decoration: none;
    color: white;
    margin: 0.7rem 0;
}

.content-item:hover {
    color: white;
    text-decoration: none;
}


@media (min-width: 768px) {
    .content-item span {
        position: relative; /* Ensure the pseudo-element is positioned relative to the span */
    }
    
    .content-item span::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 3px; /* Adjust height as needed */
        background-color: white;
        transition: width 0.5s ease-in-out; /* Adjust timing function as needed */
    }
    
    .content-item:hover span::after {
        width: 100%;
    }
}