.investmentspecial-image img {
    width: 100%;
    height: auto;
}

.investmentspecial-content {

}

.intro-header h3 {
    color: #1b3271;
}

.intro-text {
    border-left: 5px solid #1b3271;
}

.investmentspecial-link {
    background-color: #1b3271;
    color: #ffffff;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.7rem;
}


.investmentspecial-link:hover {
    background-color: #385ab8;
    color: #fff;
    text-decoration: none;
}

.investmentspecial-features h3 {
    color: #1b3271;
}



.features-list span, .features-list h3 {
    color: #1b3271;
}

.features-list h6 {
    font-weight: bold;
}


