.md-1rem { font-size: 6rem; }

/*👉@media (max-width: 576px) {
    .md-xs { font-size: 145px; }
}

@media (min-width: 576px) {
    .md-sm { font-size: 160px; }
}

@media (min-width: 768px) {
    .md-md { font-size: 192px; }
}

@media (min-width: 992px) {
    .md-lg { font-size: 256px; }
}👈*/
