.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-64 { font-size: 64px; }
.md-84 { font-size: 84px; }
.md-128 { font-size: 128px; }
.md-256 { font-size: 256px; }

@media (max-width: 576px) {
    .md-xs { font-size: 145px; }
}

@media (min-width: 576px) {
    .md-sm { font-size: 160px; }
}

@media (min-width: 768px) {
    .md-md { font-size: 192px; }
}

@media (min-width: 992px) {
    .md-lg { font-size: 256px; }
}
