.smart-kid-container {
    width: 100%;
}

.banner-image img {
    width: 100%;
    height: 70vh;
}

/*👉.product-content {

}👈*/

.intro-header h3 {
    color: #1b3271;
}

.intro-bar {
    border-left: 5px solid #1b3271;
}

.product-link {
    background-color: #1b3271;
    color: #fff;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.7rem;
}


.product-link:hover {
    background-color: #385ab8;
    color: #fff;
    text-decoration: none;
}

.product-features h3 {
    color: #1b3271;
}



.features-list span,
.features-list h3 {
    color: #1b3271;
}

.features-list h6 {
    font-weight: bold;
}

.caption-title {
    margin-bottom: 30px;
}

.caption-subtitle {
    margin-bottom: 30px;
}

.typo20 {
    font-size: 20px;
    line-height: 30px;
}

.typo48 {
    font-size: 48px;
    line-height: 55px;
}


.smart-kid-list {
    list-style: none;
    counter-reset: list-counter;
    /* Reset the counter for list items */
    margin-left: 20px;
    position: relative;
}

.smart-kid-list li {
    counter-increment: list-counter;
    /* Increment the counter for each list item */
    position: relative;
    padding-left: 40px;
    /* Space for the number and line */
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* Vertical space between items */
}

.smart-kid-list li:before {
    content: counter(list-counter);
    /* Use the counter value */
    background-color: #1b3271;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.smart-kid-list li:after {
    content: '';
    position: absolute;
    left: 12px;
    /* Align with the center of the circle */
    top: 30px;
    bottom: -40px;
    /* Adjust to cover the space to the next item */
    width: 4px;
    background-color: #1b3271;
    /* Same color as the circle */
}

/* Remove the vertical line for the last item */
.smart-kid-list li:last-child:after {
    display: none;
}

.smart-kid-list {
    margin-top: 25px;
}

.smart-kid-list h5 {
    font-weight: bold;
}

.smart-kid-bullet {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.smark-kid-bullet-header h2 {
    font-weight: bold;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: none;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

/* MOBILE RESPONSIVENESS */
/* mobile screens */
@media (max-width: 768px) {
    .smart-kid-list {
        margin-left: 10px;
    }

    .smart-kid-list li {
        padding-left: 30px;
        /* Reduce space for smaller screens */
        margin-bottom: 15px;
        /* Reduce vertical space for smaller screens */
    }

    .smart-kid-list li:before {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .smart-kid-list li:after {
        left: 9px;
        /* Adjust the line to match the smaller circle */
        top: 25px;
        bottom: -30px;
        /* Adjust to cover the space to the next item */
    }
}