.paypremium-container {
}

.paypremium {
    background-color: #edf5ff;
    height: 15rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.premium-btn {
    background-color: #1b3271;
    color: #fff;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.7rem;
}

.premium-btn span {
    font-size: inherit;
    margin: auto 0;
}

.premium-btn:hover {
    background-color: #385ab8;
    color: #fff;
    text-decoration: none;
}


/* MEDIA RESPONSIVENESS */
/* big screen */
@media (min-width: 768px) {
    .paypremium-container {
        padding-left: 0;
        padding-right: 0;
    }

    .paypremium {

        padding-left: 12rem;
        padding-right: 12rem;
    }
}