.contact-badge {
    background-color: #1b3271;
    color: white;
    font-size: 1.1rem;
}

.badge-link {
    width: 10rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 0.9rem;
    background-color: inherit;
    padding: 0.7rem;
}

.badge-link:hover {
    text-decoration: none;
    color: #1b3271;
    border: 2px solid white;
    border-radius: 0.9rem;
    background-color: white;
    padding: 0.7rem;
}

.badge-span {
    font-weight: bolder;
}
